In [1]:
import pandas as pd
import requests
from nba_api.stats.static import players
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.endpoints import playercareerstats

In [2]:
#Getting all Active players from in NBA
act_nba_players = players.get_active_players()
act_nba_players[0]

{'id': 203500,
 'full_name': 'Steven Adams',
 'first_name': 'Steven',
 'last_name': 'Adams',
 'is_active': True}

In [4]:
#This code makes two blank lists then fills them with the name and player ID of all active NBA players
act_player_name=[]
act_player_id=[]
for num in range(len(act_nba_players)):
    act_player_name.append(act_nba_players[num]['full_name'])
    act_player_id.append(act_nba_players[num]['id'])

#This code makes a dataframe from the name and ID with the appropriate header
raw_data={"Active Player":act_player_name, "Player ID":act_player_id}
act_player_df = pd.DataFrame(raw_data)
act_player_df

                Active Player  Player ID
0                Steven Adams     203500
1                 Bam Adebayo    1628389
2           LaMarcus Aldridge     200746
3              Kyle Alexander    1629734
4    Nickeil Alexander-Walker    1629638
..                        ...        ...
514            Thaddeus Young     201152
515                Trae Young    1629027
516               Cody Zeller     203469
517                Ante Zizic    1627790
518               Ivica Zubac    1627826

[519 rows x 2 columns]

In [5]:
#Getting all players from NBA
all_nba_players = players.get_players()
all_nba_players[0]

{'id': 76001,
 'full_name': 'Alaa Abdelnaby',
 'first_name': 'Alaa',
 'last_name': 'Abdelnaby',
 'is_active': False}

In [6]:
#This code makes two blank lists then fills them with the name and player ID of ALL NBA players
all_player_name=[]
all_player_id=[]
for num in range(len(all_nba_players)):
    all_player_name.append(all_nba_players[num]['full_name'])
    all_player_id.append(all_nba_players[num]['id'])

#This code makes a dataframe from the name and ID with the appropriate header
raw_data={"Active Player":all_player_name, "Player ID":all_player_id}
all_player_df = pd.DataFrame(raw_data)
all_player_df

            Active Player  Player ID
0          Alaa Abdelnaby      76001
1         Zaid Abdul-Aziz      76002
2     Kareem Abdul-Jabbar      76003
3      Mahmoud Abdul-Rauf         51
4       Tariq Abdul-Wahad       1505
...                   ...        ...
4496           Ante Zizic    1627790
4497             Jim Zoet      78647
4498            Bill Zopf      78648
4499          Ivica Zubac    1627826
4500           Matt Zunic      78650

[4501 rows x 2 columns]