In [71]:
# Dependencies and Setup
import pandas as pd
import numpy as np

nba_file_load = "Resources/cleaned_2019.csv"

data_cleanup = pd.read_csv(nba_file_load)
data_cleanup.head()

,full_name,Position,TEAM,GP,MIN,PTS,FG_PCT,FG3_PCT,FT_PCT,AST,...,DepthChartOrder,GlobalTeamID,FantasyDraftName,FantasyDraftPlayerID,UsaTodayPlayerID,UsaTodayHeadshotUrl,UsaTodayHeadshotNoBackgroundUrl,UsaTodayHeadshotUpdated,UsaTodayHeadshotNoBackgroundUpdated,NbaDotComPlayerID
0,LeBron James,SF,LAL,60,2094,1544,0.498,0.349,0.697,636,...,0.0,20000027,LeBron James,214152,4587354,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2019-11-26T10:23:55,2019-11-26T10:23:21,2544
1,LeBron James,SF,LAL,60,2094,1544,0.498,0.349,0.697,636,...,0.0,20000027,LeBron James,214152,4587354,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2019-11-26T10:23:55,2019-11-26T10:23:21,2544
2,LeBron James,SF,LBN,1,19,23,0.450,0.200,0.750,6,...,0.0,20000027,LeBron James,214152,4587354,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2019-11-26T10:23:55,2019-11-26T10:23:21,2544
3,Steven Adams,C,OKC,58,1564,633,0.591,0.333,0.590,141,...,0.0,20000018,Steven Adams,679478,4586870,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2019-10-09T17:16:12,2019-10-14T09:48:23,203500
4,Steven Adams,C,OKC,58,1564,633,0.591,0.333,0.590,141,...,0.0,20000018,Steven Adams,679478,4586870,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2019-10-09T17:16:12,2019-10-14T09:48:23,203500

In [72]:
data_cleanup.columns

Index(['full_name', 'Position', 'TEAM', 'GP', 'MIN', 'PTS', 'FG_PCT',
       'FG3_PCT', 'FT_PCT', 'AST', 'BLK', 'STL', 'REB', 'TOV', 'Salary',
       'DREB', 'FG3A', 'FG3M', 'FGA', 'FGM', 'FTA', 'FTM', 'GS', 'LEAGUE_ID',
       'OREB', 'ORGANIZATION_ID', 'PF', 'PLAYER_AGE', 'PLAYER_ID',
       'SCHOOL_NAME', 'SEASON_ID', 'TEAM_ID', 'Team_ID', 'id', 'first_name',
       'last_name', 'is_active', 'PlayerID', 'Status', 'TeamID', 'Team',
       'Jersey', 'PositionCategory', 'FirstName', 'LastName', 'Height',
       'Weight', 'BirthDate', 'BirthCity', 'BirthState', 'BirthCountry',
       'HighSchool', 'College', 'PhotoUrl', 'Experience', 'SportRadarPlayerID',
       'RotoworldPlayerID', 'RotoWirePlayerID', 'FantasyAlarmPlayerID',
       'StatsPlayerID', 'SportsDirectPlayerID', 'XmlTeamPlayerID',
       'InjuryStatus', 'InjuryBodyPart', 'InjuryStartDate', 'InjuryNotes',
       'FanDuelPlayerID', 'DraftKingsPlayerID', 'YahooPlayerID', 'FanDuelName',
       'DraftKingsName', 'YahooName', 'DepthChartPosition', 'DepthChartOrder',
       'GlobalTeamID', 'FantasyDraftName', 'FantasyDraftPlayerID',
       'UsaTodayPlayerID', 'UsaTodayHeadshotUrl',
       'UsaTodayHeadshotNoBackgroundUrl', 'UsaTodayHeadshotUpdated',
       'UsaTodayHeadshotNoBackgroundUpdated', 'NbaDotComPlayerID'],
      dtype='object')

In [68]:
#Create a dataframe with the columns I want
#nba_data = pd.DataFrame({"AST","FG3A"})

In [75]:
#del data_cleanup['UsaTodayHeadshotUpdated']
nba_salary = data_cleanup.drop(columns = ['DREB', 'FG3A', 'FG3M', 'FGA', 'FGM', 'FTA', 'FTM', 'GS', 'LEAGUE_ID',
       'OREB', 'ORGANIZATION_ID', 'PF', 'PLAYER_AGE', 'PLAYER_ID',
       'SCHOOL_NAME', 'SEASON_ID', 'TEAM_ID', 'Team_ID', 'id', 'first_name',
       'last_name', 'is_active', 'PlayerID', 'Status', 'TeamID', 'Team',
       'Jersey', 'PositionCategory', 'FirstName', 'LastName', 'Height',
       'Weight', 'BirthDate', 'BirthCity', 'BirthState', 'BirthCountry',
       'HighSchool', 'College', 'PhotoUrl', 'Experience', 'SportRadarPlayerID',
       'RotoworldPlayerID', 'RotoWirePlayerID', 'FantasyAlarmPlayerID',
       'StatsPlayerID', 'SportsDirectPlayerID', 'XmlTeamPlayerID',
       'InjuryStatus', 'InjuryBodyPart', 'InjuryStartDate', 'InjuryNotes',
       'FanDuelPlayerID', 'DraftKingsPlayerID', 'YahooPlayerID', 'FanDuelName',
       'DraftKingsName', 'YahooName', 'DepthChartPosition', 'DepthChartOrder',
       'GlobalTeamID', 'FantasyDraftName', 'FantasyDraftPlayerID',
       'UsaTodayPlayerID', 'UsaTodayHeadshotUrl',
       'UsaTodayHeadshotNoBackgroundUrl', 'UsaTodayHeadshotUpdated',
       'UsaTodayHeadshotNoBackgroundUpdated', 'NbaDotComPlayerID'])
nba_salary

,full_name,Position,TEAM,GP,MIN,PTS,FG_PCT,FG3_PCT,FT_PCT,AST,BLK,STL,REB,TOV,Salary
0,LeBron James,SF,LAL,60,2094,1544,0.498,0.349,0.697,636,30,74,473,239,37436858.0
1,LeBron James,SF,LAL,60,2094,1544,0.498,0.349,0.697,636,30,74,473,239,37436858.0
2,LeBron James,SF,LBN,1,19,23,0.450,0.200,0.750,6,2,1,5,6,37436858.0
3,Steven Adams,C,OKC,58,1564,633,0.591,0.333,0.590,141,65,50,543,86,25842697.0
4,Steven Adams,C,OKC,58,1564,633,0.591,0.333,0.590,141,65,50,543,86,25842697.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,Patty Mills,PG,SAS,63,1430,735,0.429,0.380,0.861,112,6,52,99,51,12428571.0
580,Paul Millsap,PF,DEN,44,1075,529,0.486,0.440,0.833,70,28,38,260,61,30350000.0
581,Shake Milton,SG,PHI,32,611,303,0.498,0.453,0.765,71,6,19,68,38,1455697.0
582,Donovan Mitchell,SG,UTA,63,2165,1525,0.453,0.364,0.859,264,12,66,276,167,3635760.0
583,Donovan Mitchell,SG,GNS,1,14,7,0.300,0.333,0.000,4,1,2,5,1,3635760.0

In [82]:
#remove duplicate rows
nba_salary = nba_salary.drop_duplicates()
nba_salary

,full_name,Position,TEAM,GP,MIN,PTS,FG_PCT,FG3_PCT,FT_PCT,AST,BLK,STL,REB,TOV,Salary
0,LeBron James,SF,LAL,60,2094,1544,0.498,0.349,0.697,636,30,74,473,239,37436858.0
2,LeBron James,SF,LBN,1,19,23,0.450,0.200,0.750,6,2,1,5,6,37436858.0
3,Steven Adams,C,OKC,58,1564,633,0.591,0.333,0.590,141,65,50,543,86,25842697.0
5,Bam Adebayo,C,MIA,65,2234,1053,0.567,0.077,0.690,333,85,78,683,185,3454080.0
7,Bam Adebayo,C,GNS,1,12,8,0.800,0.000,0.000,1,0,0,2,1,3454080.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,Patty Mills,PG,SAS,63,1430,735,0.429,0.380,0.861,112,6,52,99,51,12428571.0
580,Paul Millsap,PF,DEN,44,1075,529,0.486,0.440,0.833,70,28,38,260,61,30350000.0
581,Shake Milton,SG,PHI,32,611,303,0.498,0.453,0.765,71,6,19,68,38,1455697.0
582,Donovan Mitchell,SG,UTA,63,2165,1525,0.453,0.364,0.859,264,12,66,276,167,3635760.0
583,Donovan Mitchell,SG,GNS,1,14,7,0.300,0.333,0.000,4,1,2,5,1,3635760.0

In [79]:
#Column data count to see if any column is missing data
nba_salary.count()

full_name    399
Position     399
TEAM         399
GP           399
MIN          399
PTS          399
FG_PCT       399
FG3_PCT      399
FT_PCT       399
AST          399
BLK          399
STL          399
REB          399
TOV          399
Salary       360
dtype: int64