In [34]:
# Dependencies and Setup
import pandas as pd
import numpy as np

nba_file_load = "Resources/cleaned_2019.csv"

data_cleanup = pd.read_csv(nba_file_load)
data_cleanup.head()

,full_name,Position,TEAM,GP,MIN,PTS,FG_PCT,FG3_PCT,FT_PCT,AST,...,DepthChartOrder,GlobalTeamID,FantasyDraftName,FantasyDraftPlayerID,UsaTodayPlayerID,UsaTodayHeadshotUrl,UsaTodayHeadshotNoBackgroundUrl,UsaTodayHeadshotUpdated,UsaTodayHeadshotNoBackgroundUpdated,NbaDotComPlayerID
0,LeBron James,SF,LAL,60,2094,1544,0.498,0.349,0.697,636,...,0.0,20000027,LeBron James,214152,4587354,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2019-11-26T10:23:55,2019-11-26T10:23:21,2544
1,LeBron James,SF,LAL,60,2094,1544,0.498,0.349,0.697,636,...,0.0,20000027,LeBron James,214152,4587354,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2019-11-26T10:23:55,2019-11-26T10:23:21,2544
2,LeBron James,SF,LBN,1,19,23,0.450,0.200,0.750,6,...,0.0,20000027,LeBron James,214152,4587354,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2019-11-26T10:23:55,2019-11-26T10:23:21,2544
3,Steven Adams,C,OKC,58,1564,633,0.591,0.333,0.590,141,...,0.0,20000018,Steven Adams,679478,4586870,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2019-10-09T17:16:12,2019-10-14T09:48:23,203500
4,Steven Adams,C,OKC,58,1564,633,0.591,0.333,0.590,141,...,0.0,20000018,Steven Adams,679478,4586870,http://cdn.usatsimg.com/api/download/?imageID=...,http://cdn.usatsimg.com/api/download/?imageID=...,2019-10-09T17:16:12,2019-10-14T09:48:23,203500

In [35]:
data_cleanup.columns

Index(['full_name', 'Position', 'TEAM', 'GP', 'MIN', 'PTS', 'FG_PCT',
       'FG3_PCT', 'FT_PCT', 'AST', 'BLK', 'STL', 'REB', 'TOV', 'Salary',
       'DREB', 'FG3A', 'FG3M', 'FGA', 'FGM', 'FTA', 'FTM', 'GS', 'LEAGUE_ID',
       'OREB', 'ORGANIZATION_ID', 'PF', 'PLAYER_AGE', 'PLAYER_ID',
       'SCHOOL_NAME', 'SEASON_ID', 'TEAM_ID', 'Team_ID', 'id', 'first_name',
       'last_name', 'is_active', 'PlayerID', 'Status', 'TeamID', 'Team',
       'Jersey', 'PositionCategory', 'FirstName', 'LastName', 'Height',
       'Weight', 'BirthDate', 'BirthCity', 'BirthState', 'BirthCountry',
       'HighSchool', 'College', 'PhotoUrl', 'Experience', 'SportRadarPlayerID',
       'RotoworldPlayerID', 'RotoWirePlayerID', 'FantasyAlarmPlayerID',
       'StatsPlayerID', 'SportsDirectPlayerID', 'XmlTeamPlayerID',
       'InjuryStatus', 'InjuryBodyPart', 'InjuryStartDate', 'InjuryNotes',
       'FanDuelPlayerID', 'DraftKingsPlayerID', 'YahooPlayerID', 'FanDuelName',
       'DraftKingsName', 'YahooName', 'DepthChartPosition', 'DepthChartOrder',
       'GlobalTeamID', 'FantasyDraftName', 'FantasyDraftPlayerID',
       'UsaTodayPlayerID', 'UsaTodayHeadshotUrl',
       'UsaTodayHeadshotNoBackgroundUrl', 'UsaTodayHeadshotUpdated',
       'UsaTodayHeadshotNoBackgroundUpdated', 'NbaDotComPlayerID'],
      dtype='object')

In [36]:
#Create a dataframe with the columns I want
#nba_data = pd.DataFrame({"AST","FG3A"})

In [37]:
#del data_cleanup['UsaTodayHeadshotUpdated']
nba_salary = data_cleanup.drop(columns = ['DREB', 'FG3A', 'FG3M', 'FGA', 'FGM', 'FTA', 'FTM', 'GS', 'LEAGUE_ID',
       'OREB', 'ORGANIZATION_ID', 'PF', 'PLAYER_AGE', 'PLAYER_ID',
       'SCHOOL_NAME', 'SEASON_ID', 'TEAM_ID', 'Team_ID', 'id', 'first_name',
       'last_name', 'is_active', 'PlayerID', 'Status', 'TeamID', 'Team',
       'Jersey', 'PositionCategory', 'FirstName', 'LastName', 'Height',
       'Weight', 'BirthDate', 'BirthCity', 'BirthState', 'BirthCountry',
       'HighSchool', 'College', 'PhotoUrl', 'Experience', 'SportRadarPlayerID',
       'RotoworldPlayerID', 'RotoWirePlayerID', 'FantasyAlarmPlayerID',
       'StatsPlayerID', 'SportsDirectPlayerID', 'XmlTeamPlayerID',
       'InjuryStatus', 'InjuryBodyPart', 'InjuryStartDate', 'InjuryNotes',
       'FanDuelPlayerID', 'DraftKingsPlayerID', 'YahooPlayerID', 'FanDuelName',
       'DraftKingsName', 'YahooName', 'DepthChartPosition', 'DepthChartOrder',
       'GlobalTeamID', 'FantasyDraftName', 'FantasyDraftPlayerID',
       'UsaTodayPlayerID', 'UsaTodayHeadshotUrl',
       'UsaTodayHeadshotNoBackgroundUrl', 'UsaTodayHeadshotUpdated',
       'UsaTodayHeadshotNoBackgroundUpdated', 'NbaDotComPlayerID'])
nba_salary

,full_name,Position,TEAM,GP,MIN,PTS,FG_PCT,FG3_PCT,FT_PCT,AST,BLK,STL,REB,TOV,Salary
0,LeBron James,SF,LAL,60,2094,1544,0.498,0.349,0.697,636,30,74,473,239,37436858.0
1,LeBron James,SF,LAL,60,2094,1544,0.498,0.349,0.697,636,30,74,473,239,37436858.0
2,LeBron James,SF,LBN,1,19,23,0.450,0.200,0.750,6,2,1,5,6,37436858.0
3,Steven Adams,C,OKC,58,1564,633,0.591,0.333,0.590,141,65,50,543,86,25842697.0
4,Steven Adams,C,OKC,58,1564,633,0.591,0.333,0.590,141,65,50,543,86,25842697.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,Patty Mills,PG,SAS,63,1430,735,0.429,0.380,0.861,112,6,52,99,51,12428571.0
580,Paul Millsap,PF,DEN,44,1075,529,0.486,0.440,0.833,70,28,38,260,61,30350000.0
581,Shake Milton,SG,PHI,32,611,303,0.498,0.453,0.765,71,6,19,68,38,1455697.0
582,Donovan Mitchell,SG,UTA,63,2165,1525,0.453,0.364,0.859,264,12,66,276,167,3635760.0
583,Donovan Mitchell,SG,GNS,1,14,7,0.300,0.333,0.000,4,1,2,5,1,3635760.0

In [38]:
# #remove duplicate rows
# nba_salary = nba_salary.drop_duplicates()
# nba_salary


nba_salary_noNaN = nba_salary.dropna()
nba_salary_noNaN.sort_values(["Salary"], ascending=False)

,full_name,Position,TEAM,GP,MIN,PTS,FG_PCT,FG3_PCT,FT_PCT,AST,BLK,STL,REB,TOV,Salary
276,Stephen Curry,PG,GSW,5,139,104,0.402,0.245,1.000,33,2,5,26,16,40231758.0
275,Stephen Curry,PG,GSW,5,139,104,0.402,0.245,1.000,33,2,5,26,16,40231758.0
420,James Harden,PG,HOU,61,2241,2096,0.435,0.352,0.861,450,53,106,388,273,38199000.0
421,James Harden,PG,LBN,1,18,11,0.333,0.333,0.500,6,2,1,3,2,38199000.0
1,LeBron James,SF,LAL,60,2094,1544,0.498,0.349,0.697,636,30,74,473,239,37436858.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,Troy Daniels,SG,LAL,41,456,174,0.392,0.357,0.625,14,3,8,46,9,384541.0
277,Troy Daniels,SG,LAL,41,456,174,0.392,0.357,0.625,14,3,8,46,9,384541.0
279,Troy Daniels,SG,TOT,42,457,174,0.390,0.354,0.625,14,3,8,46,9,384541.0
126,Ky Bowman,PG,GSW,45,1015,335,0.417,0.308,0.829,131,10,44,121,70,350189.0
127,Ky Bowman,PG,GSW,45,1015,335,0.417,0.308,0.829,131,10,44,121,70,350189.0

In [39]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.
#sorting data based on the largest timepoint first
sorted_data = nba_salary_noNaN.sort_values(["full_name", "Salary"],ascending=True)
#Dropping all the items lower than the max timepoint
final_sort = sorted_data.drop_duplicates(subset="full_name", keep='first')
#final_sort

final_sort.sort_values(["Salary"])
final_sort

,full_name,Position,TEAM,GP,MIN,PTS,FG_PCT,FG3_PCT,FT_PCT,AST,BLK,STL,REB,TOV,Salary
400,Aaron Gordon,PF,ORL,58,1914,833,0.433,0.301,0.675,215,36,50,441,94,19863636.0
453,Aaron Holiday,PG,IND,58,1368,546,0.407,0.394,0.861,193,13,45,132,75,2329200.0
459,Al Horford,PF,PHI,60,1848,722,0.442,0.337,0.753,244,55,52,412,65,28000000.0
18,Al-Farouq Aminu,PF,ORL,18,380,78,0.291,0.250,0.655,21,8,18,87,17,9258000.0
164,Alec Burks,SG,GSW,48,1390,773,0.406,0.375,0.897,151,17,50,226,76,1620564.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,Willy Hernangomez,C,CHA,31,375,190,0.532,0.227,0.627,29,7,10,134,30,1676735.0
211,Wilson Chandler,SF,BKN,35,734,205,0.404,0.306,0.870,39,12,16,145,34,1620564.0
374,Yogi Ferrell,PG,SAC,44,484,185,0.396,0.275,0.865,59,4,14,48,25,3150000.0
249,Zach Collins,C,POR,3,86,27,0.474,0.429,1.000,6,2,0,12,6,4240200.0
520,Zach LaVine,PG,CHI,60,2085,1530,0.450,0.380,0.802,254,28,88,289,206,19500000.0

In [40]:
#Column data count to see if any column is missing data
final_sort['Salary'].max()

40231758.0

In [45]:
final_sort.to_csv(r'C:\Users\aadol\Documents\GitHub\Antonia_Branch\nba_cleanup', index = False)