In [5]:
import pandas as pd
import requests
player_stats:'//www.spotrac.com/nba/statistics/player/'

In [4]:
years = []
for x in range(2000,2020):
    years.append(x)

print(years)
len(years)

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

20

In [9]:
playerList = []
for y in years:
    Psalary = pd.read_html(f"https://www.spotrac.com/nba/statistics/player/")
    playerList.append(Psalary)

In [16]:
players = playerList[2]
players

[                  Rank Player  Pos  Team    GP   MIN    PTS    FG%    3P%  \
 0           Chris Paul     PG  OKC    63  2003  1114  48.94  36.20  90.00
 1    Russell Westbrook     PG  HOU    53  1904  1456  47.37  25.37  77.75
 2         James Harden     SG  HOU    61  2241  2096  43.51  35.24  86.09
 3         LeBron James     SF  LAL    60  2094  1544  49.83  34.91  69.68
 4           Kyle Lowry     PG  TOR    52  1900  1026  41.70  35.42  86.15
 ..                 ...    ...  ...   ...   ...   ...    ...    ...    ...
 330    Marvin Williams     PF  MIL    52  1010   319  44.18  36.11  87.04
 331         Jeff Green     SF  HOU    80  1508   674  44.44  34.78  78.08
 332    Brandon Goodwin     PG  ATL    34   430   206  40.00  29.89  93.33
 333        Chris Silva      F  MIA    41   306   120  62.32   0.00  69.39
 334          Ky Bowman     SG  GSW    45  1015   335  41.74  30.84  82.93

      FT%  AST  BLK  STL  REB              TOV  Cap
 0    426    9   98  310  137  $38,506,482 (1)  NaN
 1    370   17   88  426  236  $38,506,482 (1)  NaN
 2    450   53  106  388  273  $38,199,000 (3)  NaN
 3    636   30   74  473  239  $37,436,858 (4)  NaN
 4    399   22   70  251  154  $34,996,296 (5)  NaN
 ..   ...  ...  ...  ...  ...              ...  ...
 330   56   26   35  148   28   $604,278 (331)  NaN
 331   64   30   42  226   72   $531,032 (332)  NaN
 332   51    4   12   72   29   $522,738 (333)  NaN
 333   21   18    9  109   31   $466,918 (334)  NaN
 334  131   10   44  121   70   $350,189 (335)  NaN

 [335 rows x 16 columns]]

In [22]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []